---
layout: default
title: Tags
---
<section class="posts">
<ul>
    
<h1>Tags</h1>
  {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag" style="background-color:#1E1F29","color:#d9230f">#{{ tag[0] }}</a>
{% endfor %}
  <br/>
  <hr>
    {% for tag in site.tags %}
    <h3 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h3>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <small class="post-date">{{ post.date | date_to_string }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
</ul>
</section>
